<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tentando usar DataTable no Django</title>
    <link rel="stylesheet" href="{% static 'admin_lte/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
    <style>
        td.highlight
        {
            background-color: whitesmoke !important;
        }
    </style>
</head>
<body>

<div>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th style="width: 20%">Nome</th>
                <th style="width: 20%">Nome Formal</th>
                <th>Código</th>
                <th>Codigo Área</th>
                <!--<th>Criado em</th>-->
                <!--<th>Atualizado em</th>-->
                <th> </th>
                <th> </th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>


<script src="{% static 'js/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/dataTables.min.js' %}"></script>

<script>
    $(document).ready( function () {
        var table = $('#myTable').DataTable({
            "processing": true,
            "ajax": {
                "processing": true,
                "url": "/api/",
                "dataSrc": ""
            },

            "columns": [
                     { "data": "pk"},
                     { "data": "fields.nome" },
                     { "data": "fields.nomeFormal" },
                     { "data": "fields.codigo" },
                     { "data": "fields.fone"},
                     //{ "data": "fields.criado_em"},
                     //{ "data": "fields.atualizado_em"},
                     {
                        "data": "pk",
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='/pais/"+oData.pk+"'>Exibir</a>");
                        }
                     },
                     {
                        "defaultContent": "<button>Teste</button>",
                     }
            ]
        });

        $('#myTable tbody').on('click', 'button', function(){

            var data = table.row( $(this).parents('tr')).data();
            // alert( data['pk'] +"'s salary is: "+ data['pk'] );
            window.location.href = '/pais/' + data['pk']

        }).on('mouseenter', 'td', function(){
            var colIdx = table.cell(this).index().column;

            $( table.cells().nodes() ).removeClass( 'highlight' );
            $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
        });
    } );
</script>
</body>
</html>