{% extends 'application.html' %}

{% block content %}

<h2>Paises Cadastrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Nome Formal</th>
            <th>Sigla</th>
            <th>Código</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for pais in paises %}
            <tr>
                <td>{{ pais.id }}</td>
                <td>{{ pais.nome }}</td>
                <td>{{ pais.nomeFormal }}</td>
                <td>{{ pais.sigla }}</td>
                <td>{{ pais.codigo }}</td>
                <td>
                    <a href="{% url 'atualizar_pais' pais.id %}">Atualizar</a>
                    <a href="{% url 'exibir_pais' pais.id %}">Exibir</a>
                    <a href="{% url 'deletar_pais' pais.id %}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    {% if paises.has_previous %}
        <a class="page-link" href="?page=1"> << </a>
        <a class="page-link" href="?page={{ paises.previous_page_number }}"> < </a>
    {% endif %}

        {% for num in paises.paginator.page_range %}
            {% if paises.number == num %}
                <li class="page-item"><a class="page-link page-current" href="?page={{num}}">{{ num }}</a></li>
            {% elif num > paises.number|add:-4 and num < paises.number|add:4 %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

    {% if paises.has_next %}
        <a class="page-link" href="?page={{ paises.next_page_number }}"> > </a>
        <a class="page-link" href="?page={{ paises.paginator.num_pages }}"> >> </a>
    {% endif %}
</ul>
<hr>
<a href="{% url 'cadastrar_pais' %}">Novo Cadastro</a>
{% endblock %}