<!DOCTYPE html>{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gerenciador de Cadastro de Pessoas{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/boostrap-4.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/gecamp.css' %}">
</head>
<body>
<h2>GCP - Gerenciador de Cadastro de Pessoas</h2>
<hr>
{% block content %}{% endblock %}


<scrip src="{% static 'js/jquery.3.2.1.min.js' %}"></scrip>
<script src="{% static 'js/boostrap-4.0.0.min.js' %}"></script>
<script src="{% static 'js/gecamp.js' %}"></script>
</body>
</html>