<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/boostrap-4.0.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/float_labels.css' %}">
</head>
<body>
<p id="resultado"></p>
{% if erros %}
    {% for erro in erros %}
        <p>{{ erro }}</p>
    {% endfor %}
{% endif %}

<form action="" method="post" id="form-login" class="form-signin">
    {% csrf_token %}

    <div class="text-center mb-4">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Gecamp</h1>
        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a>
        </p>
    </div>

    <div class="form-label-group">
        <input type="text" value="admin" name="username" id="username" class="form-control" placeholder="Usuário"
               required autofocus>
        <label for="username">Usuário</label>
    </div>

    <div class="form-label-group">
        <input type="password" value="12345678a" name="password" id="password" class="form-control"
               placeholder="Password" required>
        <label for="password">Password</label>
    </div>


    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">Logar</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>

<script src="{% static 'js/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/form-login.js' %}"></script>
</body>
</html>